@font-face {
  font-family: 'Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./MaterialIcons.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(./Roboto.ttf) format('truetype');
}