.simonButton {
    padding: 0;
    overflow: hidden;
    border-width: 0;
    margin: 10px;
    font-size: 20px;
    font-style: normal;
    border: "none";
    border-radius: 30px;
    outline: none;
    transition: background-color 300ms, box-shadow 300ms;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.24);
}

.simonButton:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.40);
}

.simonButton:active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.24);
}