name: CD Master branch
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@v2
      - name: Use Node
        uses: actions/setup-node@v1
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        with:
          node-version: "14"
          registry-url: https://registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}
        
      - name: Publish New Version
        run: |
          git config --local user.email "simonboisset.dev@gmail.com"
          git config --local user.name "simonboisset"
          yarn
          lerna bootstrap
          lerna publish patch --yes